body{ background:#fff; color:#586e75; font-size:13px;}
h2{ color:#859900; font-size:20px;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ background:#002b36; border-color:#002b36; box-shadow:none; color:#586e75; font-size:12px;}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{ border-color:#073642; box-shadow:none; color:#fff;}

/* Buttons */
.btn{ background:#eee8d5; border:none; box-shadow:none; color:#586e75; font-size:12px; font-weight:bold; text-shadow:none;}
.btn:hover{ background:#586e75; color:#eee8d5;}
.btn-primary,
.btn-primary:hover{ background:#859900; color:#fff; font-size:16px; padding:11px 24px;}
.navbar .btn{ background:#586e75; color:#fff;}
.navbar .btn:hover{ background:#93a1a1;}

/* Container */
.container, .navbar .container, .navbar-static-top .container{ width:940px;}

/* Nav */
.navbar{ font-size:12px; margin-bottom:0;}
.navbar .brand{ color:#93a1a1; font-size:16px; font-weight:bold; text-shadow:none;}
.navbar .navbar-inner{ background:#073642; border:none; border-radius:0; box-shadow:none;}
.navbar .nav > li > a{ color:#586e75; text-shadow:none;}
.navbar .brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover{ color:#fff;}
.navbar .nav li.dropdown.open > .dropdown-toggle{ color:#93a1a1;}
.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus{ background:none; box-shadow:none; color:#93a1a1;}
/* Caret */
.navbar .nav li.dropdown > .dropdown-toggle .caret{ border-top-color:#586e75;}
.navbar .nav li.dropdown > a:hover .caret,
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret{ border-top-color:#93a1a1;}
/* Dropdown */
.navbar .nav li.dropdown.open > .dropdown-toggle{ background:#fdf6e3;}
.dropdown-menu li > a:hover{ background:#e63a3a;}
.dropdown-menu .divider{ background:#eee8d5;}
.nav-header{ color:#859900;}

/* Hero */
.hero-unit{ background:#002b36; border-bottom:1px solid #002b36; border-radius:0; color:#93a1a1; padding:0;}
.hero-unit h1{ color:#fff; font-size:52px; margin-bottom:10px;}
.hero-unit .container{ background:url(/images/firefox-logo.png) no-repeat right bottom; padding:80px 420px 79px 0; width:520px;}

