---
layout: default
route: post
---

<div class="container">
  <div class="back">
    <a href="/articles.html">Back</a>
  </div>

  <div class="info">
    <span class="date">{{ page.date | date_to_string }}</em>
    <strong class="category">{{ page.category }}</strong>
  </div>

  <h1 class="title">{{ page.title }}</h1>

  <h2 class="introduction">{{ page.introduction }}</h2>

  <article id="content" class="content">
    {{ content }}
  </article>

  <div class="post-share">
    <i class="fa fa-twitter"></i>
    <span>If you've read this far, does it mean you like this article? If so:</span>
    <br>
    <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=ichadhr" target="_blank">
      Tweet it!
    </a>
  </div>

  <nav class="pagination">
    {% if page.next %}
      <a href="{{ page.next.url }}" id="pgprev" rel="next">
        &larr; Previous
      </a>
    {% endif %}

    {% if page.previous %}
      <a href="{{ page.previous.url }}" id="pgnext" rel="previous">
        Next &rarr;
        <strong>{{ page.previous.title }}</strong>
      </a>
    {% endif %}

    <a href="javascript:;" id="top">
      Back to top &uarr;
    </a>
  </nav>
</div>
